@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.topBtns {
  cursor: pointer;
  padding: 7px;
  transition: .15s ease-in-out;
  display: none;
  @media (max-width: 767.98px) {
    display: block;
  }
  > svg > line {
    stroke: $gray-800;
    stroke-width: 2px;
    stroke-linecap: round;
  }
  &:hover {
    border-color: $text-muted;
  }
  &.downEnough {
    border: 1px solid $gray-300;
    border-radius: 5px;
    background: $gray-100;
  }
  &.notDownEnough {
    border: 1px solid white;
    border-radius: 5px;
    background: $white;
  }
}

.toggle {
  position: fixed;
  top: 15px;
  right: 15px;
}
.homeBtn {
  position: fixed;
  top: 15px;
  right: 70px;
}

@media (max-width: 767.98px) {
  .leftPanel {
    overflow: hidden;
    height: 0;
  }
  .leftPanelEnter       { height: 0; }
  .leftPanelEnterActive,
  .leftPanelEnterDone   { height: 500px; transition: .3s ease-in-out; }
  .leftPanelExit        { height: 500px; }
  .leftPanelExitActive  { height: 0; transition: .3s ease-in-out; }

  .toggleEnterActive, .toggleEnterDone {
    line:first-of-type {
      transform: translate(12px, 12px) rotate(45deg) translate(-12px, -6px);
      transition: .3s ease-in-out;
    }
    line:last-of-type {
      transform: translate(12px, 12px) rotate(-45deg) translate(-12px, -18px);
      transition: .3s ease-in-out;
    }
  }
  .toggleExit {
    line:first-of-type {
      transform: translate(12px, 12px) rotate(45deg) translate(-12px, -6px);
    }
    line:last-of-type {
      transform: translate(12px, 12px) rotate(-45deg) translate(-12px, -18px);
    }
  }
  .toggleExitActive {
    line:first-of-type {
      transform: translateY(0px);
      transition: .3s ease-in-out;
    }
    line:last-of-type {
      transform: translateY(0px);
      transition: .3s ease-in-out;
    }
  }
}
