@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.all {
  position: sticky;
  top: 0;
  @media (min-width: 768px) {
    height: 100vh;
  }
  @media (max-width: 767.98px) {
    border-bottom: 1px solid $gray-500;
  }
  .btnGroup {
    text-align: center;
    a {
      font-size: large;
      display: block;
      padding: .5rem 0;
      text-decoration: none;
      color: $text-muted;
      transition: color .15s ease-in-out;
      &:hover {
        color: $primary;
      }
    }
  }
  .footer {
    @media (min-width: 768px) {
      position: absolute;
      bottom: 0;
    }
    padding: 1rem 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    > div:last-of-type {
      margin-left: auto;
    }
  }
}
