@use "sass:color";
@use "sass:map";
@import "../styles/variables";

.all {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 3.5rem 0;
  @media (max-width: 767.98px) {
    height: 540px;
    padding-top: 3.5rem;
  }
  .avatarContainer {
    @media (max-height: 500px) {
      max-width: 20vh;
      margin: 0 auto;
    }
    @media (max-height: 400px) {
      display: none;
    }
    .avatar {
      border-radius: 50%;
    }
  }
  .btnGroup {
    div {
      display: block;
      text-align: center;
      padding: .5rem 0;
      a {
        font-size: large;
        text-decoration: none !important;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    .info > div {
      display: inline-block;
      &:first-of-type {
        margin-right: .5rem;
      }
    }
  }
}

@mixin manage-theme($name, $theme-map) {
  $foreground: map.get($theme-map, "foreground");
  $primary: map.get($theme-map, "primary");
  .btnGroup.#{$name} a {
    color: $foreground;
    transition: color .15s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
  .avatar.#{$name} {
    border: 2px solid $primary !important;
  }
}


@include manage-theme(light, $light-theme);
@include manage-theme(dark, $dark-theme);
