@use "sass:color";
@use "sass:map";
@import "../styles/variables";

.all {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 3.5rem 0;
  @media (max-width: 767.98px) {
    height: 540px;
    padding-top: 3.5rem;
  }
  .infoContainer {
    * {
      margin: 0;
    }
    @media (max-height: 480px) {
      div:first-of-type { display: none; }
      @media (min-width: 996px) {
        display: flex;
        gap: 1rem;
        div:first-of-type {
          display: block;
          width: 80px;
        }
        div:last-of-type {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    @media (max-height: 400px) {
      display: none;
    }
    .avatar {
      border-radius: 50%;
    }
  }
  .btnGroup {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    a {
      border-radius: $border-radius;
      text-align: center;
      padding: .5rem 0;
      &.active {
        font-weight: bold;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    .info > div {
      display: inline-block;
      &:first-of-type {
        margin-right: .5rem;
      }
    }
  }
}

@mixin manage-theme($name, $theme-map) {
  $foreground: map.get($theme-map, "foreground");
  $background: map.get($theme-map, "background");
  $primary: map.get($theme-map, "primary");
  $gray: map.get($theme-map, "gray");
  .btnGroup.#{$name} a {
    color: $foreground;
    &.active {
      color: $primary !important;
      background-color: mix($primary, $background, 20%) !important;
    }
    &:hover {
      color: $foreground;
      text-decoration: none;
      background-color: mix($gray, $background, 20%);
    }
  }
  .avatar.#{$name} {
    border: 2px solid $primary !important;
  }
}


@include manage-theme(light, $light-theme);
@include manage-theme(dark, $dark-theme);
