@use "sass:map";
@import "../styles/variables";

$background: map.get($dark-theme, "background");
$foreground: map.get($dark-theme, "foreground");

.all {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background;
  color: $foreground;
  .spinner {
    width: 3rem;
    height: 3rem;
  }
}
