@use "sass:map";
@import "../styles/variables";

$background-dark : map.get($dark-theme,  "background");
$foreground-dark : map.get($dark-theme,  "foreground");
$background-light: map.get($light-theme, "background");
$foreground-light: map.get($light-theme, "foreground");

.all {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background-dark;
  color: $foreground-dark;
  @media (prefers-color-scheme: light) {
    background: $background-light;
    color: $foreground-light;
  }
  .spinner {
    width: 3rem;
    height: 3rem;
  }
}
