@use "sass:color";
@use "sass:map";
@import "../styles/variables";

.all {
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding: .5 1rem;
  min-height: 0;
}

@mixin manage-theme($name, $theme-map) {
  $background: map.get($theme-map, "background");
  $foreground: map.get($theme-map, "foreground");
  $primary: map.get($theme-map, "primary");
  $gray: map.get($theme-map, "gray");
  .all.#{$name} {
    color: $foreground;
    background: mix($gray, $background, 20%);
    border: 1px solid mix($gray, $background, 40%);
    transition: .15s ease-in-out;
    &:focus { border: 1px solid $primary; }
  }
}

@include manage-theme(light, $light-theme);
@include manage-theme(dark, $dark-theme);
