@use "sass:color";
@import "../styles/variables";

.tag {
  padding: .15rem .4rem;
  color: $primary;
  background: mix($primary, $background, 20%);
  border-radius: 5px;
  transition: .15s ease-in-out;
  &:hover {
    background: $primary;
    color: white;//$background
    text-decoration: none;
  }
}