@use "sass:color";
@use "sass:map";
@import "../styles/variables";

.tag {
  padding: .15rem .4rem;
  border-radius: $border-radius;
}

@mixin manage-theme($name, $theme-map) {
  $background: map.get($theme-map, "background");
  $primary: map.get($theme-map, "primary");
  .tag.#{$name} {
    color: $primary;
    background: mix($primary, $background, 20%);
    transition: .15s ease-in-out;
    &:hover {
      background: $primary;
      color: white !important;
      text-decoration: none !important;
    }
  }
}

@include manage-theme(light, $light-theme);
@include manage-theme(dark, $dark-theme);
