@use "sass:color";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.tag {
  padding: .15rem .4rem;
  color: $primary;
  background: color.scale($primary, $lightness: 80%);
  border-radius: 5px;
  transition: .15s ease-in-out;
  &:hover {
    background: $primary;
    color: $white;
  }
}