@use "sass:color";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: $background;
  color: $foreground;
}

// always show scrollbar
body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  transition: .15s ease-in-out;
  color: $primary;
  &:hover {
    color: mix($primary, $foreground, $weight: 60%);
    text-decoration: underline;
  }
}

.card {
  background: $background;
  color: $foreground;
  border-color: $gray;
}
