@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

@layer utilities {
  .cap-round { stroke-linecap: round; }
  .stroke-3 { stroke-width: 3px; }
  .stroke-4 { stroke-width: 4px; }
  @variants dark {
    .fill-none { fill: none; }
    .fill-gray-200 { fill: theme("colors.gray.200"); }
    .fill-gray-800 { fill: theme("colors.gray.800"); }
  }
  .h-112 { height: 28rem; }
  .border-l-6 { border-left-width: 6px; }
  @variants hover {
    .underline-under { text-underline-position: under; }
  }
}

@layer components {
  a {
    @apply
      transition
      text-primary-600 hover:text-primary-700
      dark:text-primary-400 dark:hover:text-primary-300
      hover:underline hover:underline-under;
  }
  code { @apply text-sm; }
  :not(pre) > code { @apply text-secondary-light dark:text-secondary-dark; }
  a code { @apply text-primary-600 dark:text-primary-400 !important; }
  a:hover code { @apply text-primary-700 dark:text-primary-300 !important; }
  pre {
    @apply max-w-full overflow-x-auto mb-5;
  }
  h1 { @apply text-4xl  mb-6; }
  h2 { @apply text-3xl  mb-6 font-bold; }
  h3 { @apply text-2xl  mb-6 font-bold; }
  h4 { @apply text-xl   mb-6 font-bold; }
  h5 { @apply text-lg   mb-6 font-bold; }
  h6 { @apply text-base mb-6 font-bold; }
  h2 + *, h3 + *, h4 + *, h5 + *, h6 + * { @apply mt-0; }
  p { @apply mb-6; }
  hr { @apply my-5 border-gray-400 dark:border-gray-600; }
  blockquote {
    @apply
      p-4 mb-5 border-l-6 border-solid rounded border-gray-500
      bg-gray-200 dark:bg-gray-800
  }
  ul { @apply list-disc; }
  ul > li { @apply ml-6; }
  blockquote p:last-of-type { @apply mb-0; }
}

html {
  scroll-behavior: smooth;
}
