@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

@layer utilities {
  @variants hover {
    .underline-under {
      text-underline-position: under;
    }
  }
}

@layer components {
  * { @apply transition; }
  a {
    @apply
      text-primary-600 hover:text-primary-700
      dark:text-primary-400 dark:hover:text-primary-300
      hover:underline hover:underline-under;
  }
  code {
    @apply text-sm text-secondary-light dark:text-secondary-dark;
  }
  a code {
    @apply
      text-primary-600 hover:text-primary-700
      dark:text-primary-400 dark:hover:text-primary-300 !important;
  }
  pre {
    @apply max-w-full overflow-x-auto mb-5;
  }
  h1 { @apply text-4xl  mb-6; }
  h2 { @apply text-3xl  mb-6 mt-10 font-bold; }
  h3 { @apply text-2xl  mb-6 mt-10 font-bold; }
  h4 { @apply text-xl   mb-6 mt-10 font-bold; }
  h5 { @apply text-lg   mb-6 mt-10 font-bold; }
  h6 { @apply text-base mb-6 mt-10 font-bold; }
  h2 + *, h3 + *, h4 + *, h5 + *, h6 + * { @apply mt-0; }
  p { @apply mb-6; }
  hr { @apply my-5 border-gray-400 dark:border-gray-600; }
  blockquote {
    @apply
      p-4 mb-5 border-l-4 border-solid border-gray-700 dark:border-gray-300
      bg-gray-300 dark:bg-gray-700
  }
  blockquote p:last-of-type { @apply mb-0; }
}
