$light-theme: (
  "background": #fcfcfa,
  "foreground": #221f22,
  "primary": #1A8A97,
  "code": #E14E05,
  "gray": #727072
);

$dark-theme: (
  "background": #221f22,
  "foreground": #fcfcfa,
  "primary": #21B1C1,
  "code": #fc9867,
  "gray": #939293
);

$grid-gutter-width: 4rem;
$gutters: (
  0: 0,
  1: $grid-gutter-width * .25,
  2: $grid-gutter-width * .5,
  3: $grid-gutter-width,
  4: $grid-gutter-width * 1.5,
  5: $grid-gutter-width * 3,
);
$paragraph-margin-bottom: 1.5rem;
$headings-margin-bottom: 1.5rem;
$headings-margin-top: 2.5rem;

$border-radius: 5px;
